<h1>Listing revenders</h1>

<%= current_client.tipo %>

<table>
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Cnpj</th>
    <th>Rua</th>
    <th>Complemento</th>
    <th>Numero</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @revenders.each do |revender| %>
  <tr>
    <td><%= revender.nome %></td>
    <td><%= revender.cpf %></td>
    <td><%= revender.cnpj %></td>
    <td><%= revender.rua %></td>
    <td><%= revender.complemento %></td>
    <td><%= revender.numero %></td>
    <td><%= revender.id %></td>

    <td><%= link_to 'Show', revendedor_revender_path(revender) %></td>
    <td><%= link_to_edit [:revendedor, revender] %></td>
    <td><%= link_to_destroy [:revendedor, revender] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Revender', new_revendedor_revender_path %>

