<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @revender.nome %>
</p>

<p>
  <b>Cpf:</b>
  <%= @revender.cpf %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @revender.cnpj %>
</p>

<p>
  <b>Rua:</b>
  <%= @revender.rua %>
</p>

<p>
  <b>Complemento:</b>
  <%= @revender.complemento %>
</p>

<p>
  <b>Numero:</b>
  <%= @revender.numero %>
</p>

<p>
  <b>Client:</b>
  <%= current_client.name %>
</p>

