<h1>Listing people</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Sexo</th>
    <th>Cpf</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.nome %></td>
    <td><%= person.sexo %></td>
    <td><%= person.cpf %></td>
    <td><%= person.id %></td>
    <td><%= link_to 'Show', pessoafisica_person_path(person) %></td>
    <td><%= link_to_edit [:pessoafisica, person] %></td>
    <td><%= link_to_destroy [:pessoafisica, person] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_pessoafisica_person_path %>

