<!DOCTYPE html>
<html>
<head>
  <title>Dev</title>
  <%= stylesheet_link_tag 'layout', 'index' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrap">

  <div id="topo" class="clear">
    <div id='login-nav-top-bar'>
      <% if client_signed_in?  %>
          <span>Olá : <strong><%= current_client.name %></strong></span>
          <span class='right'>
            <%= link_to "Editar", href="/clients/edit" %> |
            <%= link_to "Logout", href="/clients/sign_out" %>
          </span>
      <% else %>
          <%= link_to "Login", href="/clients/sign_in" %>
      <% end %>
    </div>
    <div id='login-nav-bottom-bar'>

    </div>
    <div id="logo">Logo</div>


  </div>

  <hr / class="clear">


  <div id="conteudo" class="clear">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <hr />

  <div id="footer" class="clear">
    <div align="center"> footer</div>
  </div>
<div>



</body>
</html>

